# Node modules
node_modules

# Environment files
local

# Readme
README.md

# Test files
coverage

# Dockerfile
*Dockerfile*

# Git files
.git
.gitignore

# Deployment files
.terraform
terraform.tfstate
terraform.tfstate.backup