@font-face {
  font-family: 'Averta';
  src: local('averta'),
  url('https://s3-us-west-2.amazonaws.com/sapienetwork/public/static/averta/averta-regular.woff2') format('woff2'),
  url('https://s3-us-west-2.amazonaws.com/sapienetwork/public/static/averta/averta-regular.woff') format('woff'),
  url('https://s3-us-west-2.amazonaws.com/sapienetwork/public/static/averta/averta-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Averta Bold';
  src: local('averta'),
  url('https://s3-us-west-2.amazonaws.com/sapienetwork/public/static/averta/averta-bold.woff2') format('woff2'),
  url('https://s3-us-west-2.amazonaws.com/sapienetwork/public/static/averta/averta-bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}